@{
    ViewData["Title"] = "Mission Volunteering";
}

<partial name="_Navbar_1"/>

  <div class="vol-container">
    <div class="vol-mission">
      <div class="vol-left">
        <swiper-container style="
              --swiper-navigation-color: #fff;
              --swiper-pagination-color: #fff;
              height: 50vh;
              width: 35vw;
            " class="mySwiper" thumbs-swiper=".mySwiper2" space-between="10" navigation="true">
          <swiper-slide>
            <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="/images/Nourish-the-Children-in--African-country-1.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="/images/image1.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="/images/img1.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="/images/img11.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="/images/Plantation-and-Afforestation-programme.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="/images/Animal-welfare-_-save-birds-campaign-1.png" alt="" />
          </swiper-slide>
        </swiper-container>

        <swiper-container style="height: 10vh; width: 35vw" class="mySwiper2" space-between="10" slides-per-view="4"
          free-mode="true" watch-slides-progress="true">
          <swiper-slide>
            <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-4.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="/images/Nourish-the-Children-in--African-country-1.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="/images/image1.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="/images/img1.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="/images/img11.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="/images/Plantation-and-Afforestation-programme-1.png" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="/images/Animal-welfare-_-save-birds-campaign-1.png" alt="" />
          </swiper-slide>
        </swiper-container>
      </div>
      <div class="vol-right">
        <p class="vol-heading">
          CSR initiative stands for Coffee & Farmer Equity
        </p>
        <p class="vol-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam.
        </p>
        <div>
          <hr />
          <p class="mission-date">
            <span class="time-span">Plant 10,000 Trees</span>
          </p>
        </div>
        <div>
          <div class="card-body insight">
            <div class="card-body-left">
              <div class="card-body-left-img">
                <img src="/images/Seats-left.png" alt="" />
              </div>
              <div class="card-body-left-text">
                <span class="figure">10</span>
                <span class="seats-left">Seats left</span>
              </div>
            </div>
            <div class="card-body-right">
              <div class="card-body-right-img">
                <img src="/images/achieved.png" alt="" />
              </div>
              <div class="card-body-right-text">
                <div class="progress" style="width: 10vw; height: 13px">
                  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span class="seats-left">8000 achieved</span>
              </div>
            </div>
          </div>
          <hr />
          <div id="mission-favourite-recomend-div" class="d-flex">
            <button class="w-50 border border-3 rounded-5 bg-white p-2 m-2" style="border-radius: 25px;">
              <img src="images/heart1.png" alt="" />
              <span>Add to Favourite</span>
            </button>
            <button class="w-50 border border-3 rounded-5 bg-white p-2 m-2" style="border-radius: 25px;">
              <img src="images/add1.png" alt="" />
              <span>Recommend to a Co-Worker</span>
            </button>
          </div>
          <div>
            <hr class="ratings" />
            <p class="mission-date">
              <span class="star-rating">
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
              </span>
            </p>
          </div>
          <div class="vol-filters">
            <div class="vol-filter-1">
              <div class="top">
                <img src="/images/pin1.png" alt="" />
              </div>
              <div class="bottom">
                <span>City</span>
                <p>London</p>
              </div>
            </div>
            <div class="vol-filter-2">
              <div class="top">
                <img src="/images/web.png" alt="" />
              </div>
              <div class="bottom">
                <span>Theme</span>
                <p>Environment</p>
              </div>
            </div>
            <div class="vol-filter-3">
              <div class="top">
                <img src="/images/calender.png" alt="" />
              </div>
              <div class="bottom">
                <span>Date</span>
                <p>Ongoing Opportunity</p>
              </div>
            </div>
            <div class="vol-filter-4">
              <div class="top">
                <img src="/images/organization.png" alt="" />
              </div>
              <div class="bottom">
                <span>organization</span>
                <p>CSE Network</p>
              </div>
            </div>
          </div>
          <div class="vol-apply-btn">
            <button type="button" class="btn btn-light">
              Apply Now <img src="/images/right-arrow.png" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vol-bottom">
    <div class="vol-bottom-left">
      <!--------------------
           Tabs content 
          ------------------------>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active tab" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
            role="tab" aria-controls="home" aria-selected="true">
            Mission
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link tab" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
            role="tab" aria-controls="profile" aria-selected="false">
            Organization
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link tab" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
            role="tab" aria-controls="contact" aria-selected="false">
            Comments
          </button>
        </li>
      </ul>
      <div class="tab-content main-tab-bar" id="myTabContent">
        <div class="tab-pane tab-bar fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <p class="tab-heading">Introduction</p>
          <p class="tab-content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Perferendis natus earum in sequi! Numquam fugit perferendis vero
            sunt. Cum consequatur, vitae at fugiat aspernatur eaque labore
            repellendus cupiditate animi saepe maxime ratione, ducimus,
            voluptatem ipsa.
          </p>
          <p class="tab-content">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque
            quasi itaque esse quae libero consectetur fuga dolorum ipsam eius
            nesciunt veniam numquam, quia perferendis ab cupiditate.
            Veritatis, nihil!
          </p>
          <p class="tab-content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere
            iste accusamus animi temporibus. Consectetur veniam ab officiis
            iusto, dignissimos excepturi accusamus totam dolores repellendus
            voluptate rem impedit ea velit quidem odit soluta magni maiores
            quos facilis? Aspernatur cum temporibus harum fuga! Repellat
            consectetur dolore minus, sint eius nihil quia vitae, illo ea
            quibusdam, voluptates inventore est cum dolores aperiam error.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero,
            laudantium quis animi, odio perferendis, quasi quidem .
          </p>
          <p class="tab-heading">Challenge</p>
          <p class="tab-content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere
            iste accusamus animi temporibus. Consectetur veniam ab officiis
            iusto, dignissimos excepturi accusamus totam dolores repellendus
            voluptate rem impedit ea velit quidem odit soluta magni maiores
            quos facilis? Aspernatur cum temporibus harum fuga! Repellat
            consectetur dolore minus, sint eius nihil quia vitae, illo ea
            quibusdam, voluptates inventore est cum dolores aperiam error.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero,
            laudantium quis animi, odio perferendis, quasi quidem .
          </p>
          <p class="tab-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Temporibus, rerum eius praesentium quae culpa nobis exercitationem
            officia minus dolorum molestias libero veniam suscipit ratione
            sunt repellendus qui, itaque quibusdam cupiditate! Quaerat
            accusantium beatae, consequuntur fuga exercitationem iste qui
            libero necessitatibus dolorem, atque commodi doloribus officia
            eaque optio mollitia est repellendus.
          </p>
          <p class="tab-heading">Documents</p>
          <div class="documents">
            <a class="download-doc" href="/assets/Training Plan_2022-23_.net_Ahmedabad.pdf" download>
              <img src="/images/pdf.png" alt="" />
              <span>Training-Plan.pdf</span>
            </a>
            <a href="/assets/Quick Guide-.net.docx" class="download-doc" download>
              <img src="/images/doc.png" alt="" />
              <span>.NET-Guide.doc</span>
            </a>
            <a href="/assets/CI Platform - DB.xlsx" class="download-doc" download>
              <img src="/images/xlsx.png" alt="" />
              <span>CI-Database.xlsx</span>
            </a>
          </div>
        </div>

        <div class="tab-pane tab-bar fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit
          tenetur, temporibus illo libero magnam ea vitae voluptate
          accusantium voluptatibus excepturi nesciunt sapiente fugiat, quis,
          laborum veritatis animi nisi doloremque fugit iusto! Soluta, natus
          provident! Pariatur id labore unde excepturi tempora qui commodi et,
          iusto nemo!
        </div>

        <div class="tab-pane tab-bar fade comments" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <textarea class="comment-box" id="idea" name="" cols="100" rows="5"></textarea>
          <input class="comment-btn" type="button" value="Post Comment" id="add" />
          <ul class="comment-items" id="list"></ul>
        </div>
      </div>
    </div>
    <div class="vol-bottom-right">
      <div class="information">
        <p class="info-heading">Information</p>
        <table>
          <tr class="table-item">
            <td>Skills</td>
            <td>Cool, Easy going, Math, Computer</td>
          </tr>
          <tr class="table-item">
            <td>Days</td>
            <td>Weekend Only</td>
          </tr>
          <tr>
            <td>Rating</td>
            <td>
              <i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i
                class="bi bi-star"></i> (By 125volunteers)
            </td>
          </tr>
        </table>
      </div>
      <div class="recent-volunteers">
        <div id="recent-volunteer-info-div"
          class="border border-1 my-2 mx-1 mx-md-0 d-flex py-3 px-1 px-md-0 py-md-0 flex-column justify-content-md-between">
          <div class="border-bottom border-1 p-2 p-md-4 pb-0">
            <span id="volunteer-recent-volunteer-span" class="fs-4">
              Recent Volunteers
            </span>
          </div>
          <div class="d-flex flex-wrap p-1">
            <div class="d-flex justify-content-center align-items-center p-1 p-md-2 flex-column volunteer-images-div">
              <img src="/images/volunteer1.png" class="rounded-circle volunteer-images" alt="" />
              <span class="fs-6 volunteer-names">Umang Gohel</span>
            </div>
            <div class="d-flex justify-content-center align-items-center p-1 p-md-2 flex-column volunteer-images-div">
              <img src="/images/volunteer2.png" class="rounded-circle volunteer-images" alt="" />
              <span class="fs-6 volunteer-names">Sizuka</span>
            </div>
            <div class="d-flex justify-content-center align-items-center p-1 p-md-2 flex-column volunteer-images-div">
              <img src="/images/volunteer3.png" class="rounded-circle volunteer-images" alt="" />
              <span class="fs-6 volunteer-names">Shinchen Nohara</span>
            </div>
            <div class="d-flex justify-content-center align-items-center p-1 p-md-2 flex-column volunteer-images-div">
              <img src="/images/volunteer4.png" class="rounded-circle volunteer-images" alt="" />
              <span class="fs-6 volunteer-names">Naini</span>
            </div>
            <div class="d-flex justify-content-center align-items-center p-1 p-md-2 flex-column volunteer-images-div">
              <img src="/images/volunteer5.png" class="rounded-circle volunteer-images" alt="" />
              <span class="fs-6 volunteer-names">Nobita nobie</span>
            </div>
            <div class="d-flex justify-content-center align-items-center p-1 p-md-2 flex-column volunteer-images-div">
              <img src="/images/volunteer6.png" class="rounded-circle volunteer-images" alt="" />
              <span class="fs-6 volunteer-names">Mixie Nohara</span>
            </div>
            <div class="d-flex justify-content-center align-items-center p-1 p-md-2 flex-column volunteer-images-div">
              <img src="/images/volunteer7.png" class="rounded-circle volunteer-images" alt="" />
              <span class="fs-6 volunteer-names">Doraemon</span>
            </div>
            <div class="d-flex justify-content-center align-items-center p-1 p-md-2 flex-column volunteer-images-div">
              <img src="/images/volunteer8.png" class="rounded-circle volunteer-images" alt="" />
              <span class="fs-6 volunteer-names">Wonder woman</span>
            </div>
            <div class="d-flex justify-content-center align-items-center p-1 p-md-2 flex-column volunteer-images-div">
              <img src="/images/volunteer9.png" class="rounded-circle volunteer-images" alt="" />
              <span class="fs-6 volunteer-names">Smriti Mandhana</span>
            </div>
          </div>
          <div id="volunteer-scroll-bar"
            class="d-flex justify-content-center align-items-center border border-1 m-0 w-100">
            <button class="volunteer-scroll-bar-btn p-2 border border-1 bg-white">
              <img src="/images/left.png" alt="left" />
            </button>
            <p class="volunteer-scroll-bar-span m-0 text-center p-2">
              1 - 9 of 25 Recent Volunteers
            </p>
            <button class="volunteer-scroll-bar-btn p-2 border border-1 bg-white">
              <img src="/images/right-arrow1.png" alt="right" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="vol-related-missions">
    <p class="related-mission-heading">Related Missions</p>
  </div>
  <partial name="_Grid"/>
 @* <script>
    document.getElementById("add").onclick = function () {
      var text = document.getElementById("idea").value;
      var a = document.createElement("li");
      a.innerHTML = text;
      if(text == ""){
        alert("Please enter something to add comment");
      }
      else{
        document.getElementById("list").appendChild(a);
      }
      
      $("#idea").val("");
    };

    $("tab").on("click", function(){
        alert("Hello");
        if("#contact-tab"){
            $("idea").show();
        }
        else{
            $("#idea").hide();
        }
    })

  </script>*@