*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.edit-profile-page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
.edit-profile-page .edit-user-profile{
    width: 80vw;
    display: flex;
    gap: 5vw;
}
/* -----------------------
        CSS of Left
    ----------------------- */
.edit-profile-page .edit-user-profile .edit-left{
    width: 15vw;
    height: 25vh;
    border: 1px solid #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.edit-profile-page .edit-user-profile .edit-left .user-name{
    font-size: 1.5rem;
    margin-top: 1vh;
}
.edit-profile-page .edit-user-profile .edit-left a{
    text-decoration: none;
    color: #414141;
}
.edit-profile-page .edit-user-profile .edit-right{
    width: 60vw;
}
.edit-profile-page .edit-user-profile .edit-left img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
/* -----------------------
        CSS of Right
    ----------------------- */
.edit-right .edit-right-heading{
    font-size: 1.5rem;
    /* text-decoration: underline; */
    padding-bottom: 20px;
    border-bottom: 1px solid #D9D9D9;
}
.edit-right .edit-right-heading span{
    border-bottom: 1px solid #414141;
    padding-bottom: 21px;
}
.edit-profile-page form .layer-1 input,
.edit-profile-page form .layer-3 input{
    width: 27.5vw;
}
.edit-profile-page form .layer-1 .layer-part-1,
.edit-profile-page form .layer-1 .layer-part-2,
.edit-profile-page form .layer-1 .layer-part-3{
    display: flex;
    gap: 5vw;
    margin-bottom: 2vh;
}
.edit-profile-page form .layer-2 .layer2-part-1{
    margin-bottom: 2vh;
    margin-top: 4vh;
}
.edit-profile-page form .layer-3{
    margin-top: 5vh;
}

/* .layer-3 .layer3-part-1{
    width: 22.5vw;
} */