@model Entities.ViewModels.NewPassword
@{
    ViewData["Title"] = "New Password page";
}

  <div class="container-fluid">
        <div class="row">
           @Html.Partial("_AccountCarousel")
            <div id="logincontent" class="col-md-4 col-sm-12 logincontent">

                <form asp-controller="Account" asp-action="NewPassword">
                    <input asp-for="email" type="hidden"/>
                    <p id="newpassheading">New Password</p>
                    <p id="newpassinfo">Please enter a new password in the fields below.</p>

                    <label for="newpass">New Password</label>
                    <input asp-for="password" type="password" id="newpass" placeholder="**********">
                    <span asp-validation-for="password" class="text-danger"></span>

                    <label for="confirmnewpass">Confirm New Password</label>
                    <input asp-for="confirm_password" type="password" id="confirmnewpass" placeholder="**********">
                    <span asp-validation-for="confirm_password" class="text-danger"></span>

                    <input asp-for="token" type="hidden" value="@Model.token"/>

                    <input type="submit" value="Change Password">                
                    <a asp-action="Register">Login</a>
                </form>
                <div id="loginpolicy">
                    <p>Privacy Policy</p>
                </div>
            </div>
        </div>
    </div>