


    <div class="cms">
        <!-- Navbar -->
        <partial name="_AdminNavbar" model="Model.Navbar_1" />
     
        <!-- Sidebar -->

        <partial name="_AdminSidebar" />
       
        <div class="cms-content">
            <form id="cmsForm" action="">
                <div class="cms-add">
                    <div class="title">Add</div>
                    <label class="mt-2" for="title">Title</label>
                    <input type="text" class="form-control cms-title" required />

                    <div class="layer-2" style="width: 95%;">
                        <span>Description</span>
                        <textarea id="editor"></textarea>
                    </div>
                    <label for="slug">Slug</label>
                    <input type="text" class="form-control cms-slug" required />
                    <label class="mt-4" for="status">Status</label>
                    <input type="text" class="form-control cms-status" required/>
                </div>
                <div class="form-buttons">
                    <button id="cancelBtn" type="reset">Cancel</button>
                    <button data-status="add" id="saveBtn" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>

    @*<script src="./js/bootstrap.bundle.js"></script>*@
    <script>
        // AJAX Call
        $("#saveBtn").on("click", function(e){
            var title = $(".cms-title").val();
            console.log("title: ", title);
            var description = $(".ck-editor__main p").text();
            console.log("desc: ", description);
            var slug = $(".cms-slug").val();
            console.log("slug: ", slug);
            var status = $(".cms-status").val();
            var demo = $(this).attr("data-status");
            
            if(title && description && slug && status){ 
                $.ajax({
                type: "POST",
                url: "/Admin/AddCmsData",
                data: {Title: title, Description: description, Slug: slug, Status: status, demo: demo},
                success: function (data) {
                    alert("CMS Data added successfully");
                     window.location.href = "/Admin/CMS";
                },
                error: function (xhr, status, error) {
                    alert("Somwthing went wrong in adding data");
                }
            });
            }
            else{
                if(!title){
                    alert("Please enter Title");
                }
                else if(!description){
                    alert("Please enter Description");
                }
                else if(!slug){
                    alert("Please enter Slug");
                }
                else if(!status){
                    alert("Please enter Status");
                }
                else{
                    alert("Form is Incomplete");
                }
            }

            
        })
        


        // CK Editor
        ClassicEditor.create(document.querySelector("#editor")).catch((error) => {
            console.error(error);
        });

        $("#cancelBtn").on("click",function(){
            $(".ck-editor__main p").text("");
        })
    
        $("#saveBtn").on("click", function(e){
         if($('.ck-editor__main p').css('display') != 'none')
         {
             var save = $(".ck-editor__main p").text();
             console.log( );
         }
        })

        $(document).ready(function () {
            // Color Change - Sidebar
            $(".cms-sidebar ul li").on("mouseenter", function () {
                $(this).find("i").css("color", "#F88634");
                $(this).find("span").css("color", "#F88634");
            });
            $(".cms-sidebar ul li").on("mouseleave", function () {
                if (!$(this).hasClass("active")) {
                    $(this).find("i").css("color", "#fff");
                    $(this).find("span").css("color", "#fff");
                }
            });
            $(".cms-sidebar ul li").on("click", function () {
                $(".cms-sidebar ul li").removeClass("active");
                $(".cms-sidebar ul li i").css("color", "#fff");
                $(".cms-sidebar ul li span").css("color", "#fff");
                $(this).addClass("active");
                $(this).find("i").css("color", "#F88634");
                $(this).find("span").css("color", "#F88634");
            });

            // Hide & Show Sidebar
            $("#sidebar-open").hide();
            $("#sidebar-close").hide();

            $(window).resize(function () {
                if ($(window).width() < 960) {
                    $(".cms-sidebar").hide();
                    $("#sidebar-open").show();
                    $("#sidebar-close").hide();
                } else {
                    $(".cms-sidebar").show();
                    $("#sidebar-open").hide();
                }
            });
        });

        // Open & Close Button - Sidebar
        $("#sidebar-open").on("click", function (e) {
            $(".cms-sidebar").show();
            $("#sidebar-open").hide();
            $("#sidebar-close").show();
        });

        $("#sidebar-close").on("click", function (e) {
            $(".cms-sidebar").hide();
            $("#sidebar-close").hide();
            $("#sidebar-open").show();
        });
    </script>
