

    <div class="cms">
        <!-- Navbar -->
        <partial name="_AdminNavbar" model="Model.Navbar_1" />
        <!-- Sidebar -->
        <partial name="_AdminSidebar"/>
        
        <div class="cms-content">
            <p class="heading"><span>Story Page</span></p>
            <div class="content-line mt-4">
                <div class="search">
                    <img src="/images/search.png" alt="" />
                    <input id="searchStoryData" type="text" placeholder="Search" />
                </div>
                
            </div>
            <div id=storyTable></div>
            
        </div>
    </div>

     <div class="modal fade" id="hello" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Confirm Delete
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <p class="fs-4" style="text-align: center;">Are you sure you want to delete this item?</p>
                        <div class="modalBtn" style="display: flex; align-items: center; justify-content: center; gap: 10px;">
                            <button style="padding: 8px 18px; border-radius: 23px; background: #fff; color: #333333; border: 2px solid #adadad;" type="reset">Cancel</button>
                            <button id="confirm-delete"  data-bs-dismiss="modal"
                            style="padding: 8px 18px; border-radius: 23px; background: #fff; color: #f88634; border: 2px solid #f88634;" 
                            type="submit">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>

    
    <script>

        function getTable(){
                $.ajax({
                type: "GET",
                dataType: "html",
                url: "/Admin/storyTable",
                success: function (data) {
                    $("#storyTable").html("");
                    $("#storyTable").html(data);
                },
                error: function (xhr, status, error) {
                    alert("Something went wrong");
                }
           });
            }
        $(document).ready(function () {
             getTable();

             // Search
            $("#searchStoryData").on("keyup", function(e){
                var search = $(this).val();
                $.ajax({
                type: "POST",
                dataType: "html",
                url: "/Admin/storyTable",
                data: {Search: search},
                success: function (data) {
                    console.log("Search succedded");
                    $("#storyTable").html("");
                    $("#storyTable").html(data);
                },
                error: function (xhr, status, error) {
                    alert("Something went wrong in adding data");
                }
           });
            })

            // Color Change - Sidebar
            $(".cms-sidebar ul li").on("mouseenter", function () {
                $(this).find("i").css("color", "#F88634");
                $(this).find("span").css("color", "#F88634");
            });
            $(".cms-sidebar ul li").on("mouseleave", function () {
                if (!$(this).hasClass("active")) {
                    $(this).find("i").css("color", "#fff");
                    $(this).find("span").css("color", "#fff");
                }
            });
            $(".cms-sidebar ul li").on("click", function () {
                $(".cms-sidebar ul li").removeClass("active");
                $(".cms-sidebar ul li i").css("color", "#fff");
                $(".cms-sidebar ul li span").css("color", "#fff");
                $(this).addClass("active");
                $(this).find("i").css("color", "#F88634");
                $(this).find("span").css("color", "#F88634");
            });

            // Hide & Show Sidebar
            $("#sidebar-open").hide();
            $("#sidebar-close").hide();

            $(window).resize(function () {
                if ($(window).width() < 960) {
                    $(".cms-sidebar").hide();
                    $("#sidebar-open").show();
                    $("#sidebar-close").hide();
                } else {
                    $(".cms-sidebar").show();
                    $("#sidebar-open").hide();
                }
            });
        });

        // Open & Close Button - Sidebar
        $("#sidebar-open").on("click", function (e) {
            $(".cms-sidebar").show();
            $("#sidebar-open").hide();
            $("#sidebar-close").show();
        });

        $("#sidebar-close").on("click", function (e) {
            $(".cms-sidebar").hide();
            $("#sidebar-close").hide();
            $("#sidebar-open").show();
        });
    </script>
