.list-image-part {
    width: 30%;
}

.list-content-part {
    width: 70%;
}

.list-img {
    height: 284px;
    width: 100%;
}

.list-card-theme-title {
    position: absolute;
    top: 265px;
    left: 33%;
    font-weight: lighter;
    border-radius:23px;
    font-size: 20px;
}

#list-card-image-content {
    top: 0px;
    right: 0px;
}

.list-img-content {
    background-color: black;
    color: white;
    opacity: 0.6;
    max-width: max-content;
}

#list-apply-btn {
    color: #F88634;
    border-color: #F88634;
}

#list-card-time-duration-title {
    width: fit-content;
    font-weight: lighter;
}

#list-mission-duration-div {
    z-index: 1;
    position: relative;
}

#list-seats-info-card {
    top: -18px;
    z-index: 0;
}

#list-seats-left-image {
    height: 25px;
    width: 25px;
}

#list-seats-left-text {
    color: #757575;
    min-width: max-content;
}

#list-deadline-image {
    height: 35px;
    width: 35px;
}

#list-deadline-text {
    color: #757575;
}