USE [CI_Platform]
GO
/****** Object:  StoredProcedure [dbo].[GetMissionData]    Script Date: 13-03-2023 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetMissionData]
--@search nvarchar(100),
@searchCountry varchar(50) = null,
@searchCity varchar(50) = null,
@searchTheme varchar(50) = null,
@searchSkill varchar(50) = null,
@search varchar(100) = null,
@sortBy varchar(max) = null,
@pageNumber INT = 1,
@pageSize INT = 9
AS
BEGIN
    SELECT 
	(SELECT STRING_AGG(skill_id, ',')  FROM mission_skill WHERE mission_skill.mission_id = mission.mission_id) AS skill,
		mission_rating.rating as Rating,
		mission.country_id as countryID,
		mission.mission_id as missionID,
        city.name as cityName, 
        mission_theme.title as themeName,	
        mission.title as missionTitle, 
        mission.short_description as missionShortDesc, 
        mission.organization_name as organizationName, 
        mission.start_date as startDate, 
        mission.end_date as endDate, 
        mission.availability as availableSeats, 
        goal_mission.goal_objective_text as goalObjective,
        mission_media.media_name as missionImage
    FROM 
        mission 
        left JOIN goal_mission ON mission.mission_id = goal_mission.mission_id 
		left join mission_media ON mission_media.mission_media_id = (
		select top 1 mission_media_id from mission_media where mission_media.mission_id = mission.mission_id
		)
        left JOIN mission_theme ON mission.theme_id = mission_theme.mission_theme_id 
        left JOIN city ON mission.city_id = city.city_id 
		left JOIN [mission_rating] ON [mission_rating].mission_id = mission.mission_id

	where
	(@search is null or (
	mission.title like '%' + @search + '%' OR
	mission.short_description like '%' + @search + '%'))  and
	
(
 @searchCountry IS NULL OR
 mission.country_id in (select value from STRING_SPLIT(@searchCountry, ','))
)
and
(
@searchCity is null or
mission.city_id in (select value from STRING_SPLIT(@searchCity, ','))
)
and
(
@searchTheme is null or
mission_theme.mission_theme_id in (select value from STRING_SPLIT(@searchTheme, ','))
)
and
(
@searchSkill is null or
mission.mission_id in (SELECT mission_id  FROM mission_skill WHERE skill_id in  (select value from STRING_SPLIT(@searchSkill, ',')))
)
ORDER BY
        CASE WHEN @sortBy = 'Newest' THEN mission.start_date END DESC,
        CASE WHEN @sortBy = 'Oldest' THEN mission.start_date END ASC,
        CASE WHEN @sortBy = 'Highest Seats' THEN mission.availability END DESC,
        CASE WHEN @sortBy = 'Lowest Seats' THEN mission.availability END ASC

OFFSET (@pageNumber - 1) * @pageSize ROWS
    FETCH NEXT @pageSize ROWS ONLY;
END