@model Entities.ViewModels.editProfile

<partial name="_Navbar_1" model="Model.Navbar_1" />

    <div class="container">
        <div class="row">
            <h2 class="mx-3 mb-3 my-3">Privacy and Cookies Policy</h2>
        </div>
        <div class="row">
            <div class="col-md-3 mx-3">
                @foreach(var item in Model.Pages)
            {
                <a href="#@item.Slug" style="text-decoration: none; color: black">
                    <div style="display: flex; justify-content: space-between">
                        <div>@item.Title</div>
                        <div><img src="/images/arrow.png" alt="" /></div>
                    </div>
                </a>
                <hr />
            }
            
               @* <a href="#cookie" style="text-decoration: none; color: black">
                    <div style="display: flex; justify-content: space-between">
                        <div>How does use cookies?</div>
                        <div><img src="/images/arrow.png" alt="" /></div>
                    </div>
                </a>
                <hr />
                <a href="#manage" style="text-decoration: none; color: black">
                    <div style="display: flex; justify-content: space-between">
                        <div>How to manage your cookie</div>
                        <div><img src="/images/arrow.png" alt="" /></div>
                    </div>
                </a>
                <hr />*@
                @*<div style="display: flex; justify-content: space-between">
                    <div>preferences?</div>
                </div>*@
                
            </div>
            <div class="col-md-8 ">
            @foreach(var item in Model.Pages)
            {
                 <div class="row" id="@item.Slug">
                    <h4>@item.Title</h4>
                    <p>
                        @item.Description
                    </p>
                    
                </div>
                <br />
                <hr />
                <br />
            }
           
                @*<div class="row" id="cookie">
                    <h4>How does use cookies?</h4>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                        eos qui ratione voluptatem sequi nesciunt.
                    </p>
                    <h5 class="my-3">Why Optimy Uses These Technologies?</h5>
                    <p>We use these technologies for a number of purposes, such as:</p>
                    <ul>
                        <li>
                            But I must explain to you how all this mistaken idea of
                            denouncing pleasure and praising pain.
                        </li>
                        <li>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium voluptatum deleniti atque
                        </li>
                        <li>
                            excepturi sint occaecati cupiditate non provident, similique
                            sunt in culpa qui officia deserunt mollitia animi.
                        </li>
                        <li>
                            On the other hand, we denounce with righteous indignation and
                            dislike men who are so beguiled and demoralized
                        </li>
                        <li>
                            But I must explain to you how all this mistaken idea of
                            denouncing pleasure and praising pain.
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore
                        </li>
                    </ul>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                        eos qui ratione voluptatem sequi nesciunt.
                    </p>
                </div>
                <br />
                <hr />
                <br />

                <div class="row" id="manage">
                    <h4 >How to manage your cookie preferences?</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                        eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                        est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                        velit, sed quia non numquam eius modi tempora incidunt ut labore
                        et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
                        veniam, quis nostrum exercitationem ullam corporis suscipit
                        laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
                        vel eum iure reprehenderit qui in ea voluptate velit esse quam
                        nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
                        voluptas nulla pariatur.
                    </p>

                    <h5 class="my-3">Subtitle goes here</h5>
                    <p>
                        1. But I must explain to you how all this mistaken idea of
                        denouncing pleasure and praising pain.
                    </p>
                    <p>
                        &nbsp;&nbsp;1.1. On the other hand, we denounce with righteous
                        indignation and dislike men who are so beguiled.
                    </p>
                    <p>
                        &nbsp;&nbsp;1.2. On the other hand, we denounce with righteous
                        indignation and dislike men who are so beguiled.
                    </p>
                    <p>
                        2. At vero eos et accusamus et iusto odio dignissimos ducimus qui
                        blanditiis praesentium voluptatum deleniti atque excepturi sint
                        occaecati cupiditate non provident, similique sunt in culpa qui
                        officia deserunt mollitia animi.
                    </p>
                    <p>
                        3. On the other hand, we denounce with righteous indignation and
                        dislike men who are so beguiled and demoralized
                    </p>
                    <p>
                        4. But I must explain to you how all this mistaken idea of
                        denouncing pleasure and praising pain.
                    </p>
                    <p>
                        5. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore
                    </p>

                    <h1 class="my-3">The first level heading - H1</h1>
                    <h2>The second level heading - H2</h2>
                    <h3>The third level heading - H3</h3>
                    <h4>The forth level heading - H4</h4>
                    <h5>The fifth level heading - H5</h5>
                    <h6>The sixth level heading - H6</h6>
                    <p class="my-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>*@
        </div>
    </div>
    </div>
  <partial name="_ContactUsFooter" />