@model Entities.ViewModels.editProfile

<partial name="_Navbar_1" model="Model.Navbar_1" />

<div class="container">
    <div class="row">
        <h2 class="mx-3 mb-3 my-3">Privacy and Cookies Policy</h2>
    </div>
    <div class="row">
        <div style="POSITION: STICKY;
    TOP: 0;
    HEIGHT: FIT-CONTENT;
    MAX-HEIGHT: 500PX;
    OVERFLOW: AUTO;" class="policy-scroll col-md-3 mx-3">
            @foreach (var item in Model.Pages)
            {
                <a href="#@item.Slug" style="text-decoration: none; color: black">
                    <div style="display: flex; justify-content: space-between">
                        <div>@item.Title</div>
                        <div><img src="/images/arrow.png" alt="" /></div>
                    </div>
                </a>
                <hr />
            }



        </div>
        <div class="col-md-8 ">
            @foreach (var item in Model.Pages)
            {
                <div class="row" id="@item.Slug">
                    <h4>@item.Title</h4>
                    <p>
                        @item.Description
                    </p>

                </div>
                <br />
                <hr />
                <br />
            }

        </div>
    </div>
</div>
<partial name="_ContactUsFooter" />