<div style="background:#fff; border-top:1px solid #ADADAD;">


    <div class="Footer container">
        <div class="Footer-left d-flex mt-3">
            <a style="color:gray; text-decoration:none; font-weight:600;" href="/Profile/Policy">Privacy Policy</a>
            
        </div>

    </div>
</div>

