 <div class="grid-view container">
      <div class="grid-items row">
        <div class="grid-item col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card" style="height: 70vh;">
            <div class="card-image">
              <img class="card-img-top" src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                alt="Card image cap" />
              <div class="location">
                <img class="country-pin" src="/images/pin.png" alt="" />
                <span class="country">Toronto</span>
              </div>
              <div class="feature">
                <img src="/images/heart.png" alt="" />
                <!-- <i class="bi bi-square-fill"></i> -->
                <img src="/images/user.png" alt="" />
              </div>
              <p class="filter"><span>Environment</span></p>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Grow Trees - On the path to environment sustainability
              </h5>
              <div class="text-1">
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Velit asperiores.
                </p>
              </div>
              <div class="ratings">
                <span>Tree Canada</span>
                <div class="rating">
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                </div>
              </div>
            </div>
            <hr />
            <p class="mission-date">
              <span class="time-span">From 10/01/2019 until 25/02/2019</span>
            </p>
            <div class="card-body insight">
              <div class="card-body-left">
                <div class="card-body-left-img">
                  <img src="/images/Already-volunteered.png" alt="" />
                </div>
                <div class="card-body-left-text">
                  <span class="figure">10</span>
                  <span class="seats-left">Seats left</span>
                </div>
              </div>
              <div class="card-body-right">
                <div class="card-body-right-img">
                  <img src="/images/deadline.png" alt="" />
                </div>
                <div class="card-body-right-text">
                  <span class="figure">09/01/2019</span>
                  <span class="deadline">Deadline</span>
                </div>
              </div>
            </div>
            <hr />
            <div class="apply-btn">
              <button>
                Apply <img src="/images/right-arrow.png" alt="" />
              </button>
              <br /><br />
            </div>
          </div>
        </div>

        <div class="grid-item col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card" style="height: 70vh;">
            <div class="card-image">
              <img class="card-img-top" src="/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png"
                alt="Card image cap" />
              <div class="location">
                <img class="country-pin" src="/images/pin.png" alt="" />
                <span class="country">Melbourne</span>
              </div>
              <div class="feature">
                <img src="/images/heart.png" alt="" />
                <!-- <i class="bi bi-square-fill"></i> -->
                <img src="/images/user.png" alt="" />
              </div>
              <p class="filter"><span>Children</span></p>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Education Supplies For Every Pair Of Shoes Sold
              </h5>
              <div class="text-1">
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Velit asperiores.
                </p>
              </div>
              <div class="ratings">
                <span>Australian Paradise</span>
                <div class="rating">
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                </div>
              </div>
            </div>
            <hr />
            <p class="mission-date">
              <span class="time-span">From 10/01/2019 until 25/02/2019</span>
            </p>
            <div class="card-body insight">
              <div class="card-body-left">
                <div class="card-body-left-img">
                  <img src="/images/Already-volunteered.png" alt="" />
                </div>
                <div class="card-body-left-text">
                  <span class="figure">250</span>
                  <span class="seats-left">Seats left</span>
                </div>
              </div>
              <div class="card-body-right">
                <div class="card-body-right-img">
                  <img src="/images/deadline.png" alt="" />
                </div>
                <div class="card-body-right-text">
                  <span class="figure">09/01/2019</span>
                  <span class="deadline">Deadline</span>
                </div>
              </div>
            </div>
            <hr />
            <div class="apply-btn">
              <button>
                Apply <img src="/images/right-arrow.png" alt="" />
              </button>
              <br /><br />
            </div>
          </div>
        </div>

        <div class="grid-item col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card" style="height: 70vh;">
            <div class="card-image">
              <img class="card-img-top" src="/images/Nourish-the-Children-in--African-country-1.png"
                alt="Card image cap" />
              <div class="location">
                <img class="country-pin" src="/images/pin.png" alt="" />
                <span class="country">Barcelona</span>
              </div>
              <div class="feature">
                <img src="/images/heart.png" alt="" />
                <!-- <i class="bi bi-square-fill"></i> -->
                <img src="/images/user.png" alt="" />
              </div>
              <p class="filter"><span>Nutrition</span></p>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Nourish the Children in African Country
              </h5>
              <div class="text-1">
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Velit asperiores.
                </p>
              </div>
              <div class="ratings">
                <span>The Hunger</span>
                <div class="rating">
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                </div>
              </div>
            </div>
            <hr />
            <p class="mission-date">
              <span class="time-span">Ongoing Opportunity</span>
            </p>
            <div class="card-body insight">
              <div class="card-body-left">
                <div class="card-body-left-img">
                  <img src="/images/Already-volunteered.png" alt="" />
                </div>
                <div class="card-body-left-text">
                  <span class="figure">10</span>
                  <span class="seats-left">Seats left</span>
                </div>
              </div>
              <div class="card-body-right">
                <div class="card-body-right-img">
                  <img src="/images/deadline.png" alt="" />
                </div>
                <div class="card-body-right-text">
                  <span class="figure">09/01/2019</span>
                  <span class="deadline">Deadline</span>
                </div>
              </div>
            </div>
            <hr />
            <div class="apply-btn">
              <button>
                Apply <img src="/images/right-arrow.png" alt="" />
              </button>
              <br /><br />
            </div>
          </div>
        </div>
      </div>
    </div>