@using Entities.ViewModels

    @*@model Pagination*@
 @model Navbar_1    
 <div class="home-navbar-1">
        <div class="home-nav1-left">
          <a href="#">Stories</a>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                style="color: #333333">
                Policy
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Policy1</a></li>
                <li><a class="dropdown-item" href="#">Policy2</a></li>
                <li><a class="dropdown-item" href="#">Policy3</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="home-nav1-right">
          <img src="@Model.avatar"  alt="" />
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a id="@Model.userId" class="nav-link dropdown-toggle user-btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                style="color: #333333">
                @Model.username
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                <li><a class="dropdown-item" href="#">Help</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="home-nav1-end"></div>

